@font-face {
  font-family: "PressStart2P";
  src: url(../fonts/PressStart2P-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Minecraftchmc";
  src: url(../fonts/Minecraftchmc-dBlX.ttf) format("truetype");
}

.text-shadow {
  text-shadow: 4px 4px 0 #161616;
}
.text-shadow-sm {
  text-shadow: 2px 2px 0 #161616;
}

.intro-section {
  background-color: #ffd88f;
  background-image: linear-gradient(
      180deg,
      rgba(247, 250, 252, 0.6),
      rgba(247, 250, 252, 0.6)
    ),
    linear-gradient(180deg, transparent, #f7fafc 94%),
    url(../img/genesis-collection.png);
  background-position: 0 0, 0 0, 0 0;
  background-size: auto, auto, contain;
}

body,
.features-section {
  background-color: #f7fafc;
}

.box-shadow {
  box-shadow: 3px 3px 0 0 #161616;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
